.main {
  min-height: calc(100vh - 77.78px);
}

.navWrap {
  padding: 0 80px;
}

.overview {
  display: grid;
  grid-template-columns: 1fr 2fr;
}

.details {
  display: flex;
  flex-direction: column;
  gap: 24px;
}

.detail {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.title {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 24px;
}

.section {
  display: flex;
  flex-direction: column;
  margin: auto;
  padding: 160px 15%;
  width: 100%;
  align-items: flex-start;
  gap: 32px;

  &Grid {
    @extend .section;
    display: grid;
    grid-template-columns: 1fr 2fr;
    align-items: center;

    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
      border-radius: var(--border-radius);
    }
  }

  &B {
    @extend .section;
    background-color: var(--light-grey);

    &grid {
      @extend .sectionB;
      display: grid;
      grid-template-columns: 3fr 0.25fr 1.75fr;
      align-items: center;

      img {
        width: 100%;
        height: 100%;
        object-fit: cover;
        border-radius: var(--border-radius);
      }
    }
  }
}

.vFlex {
  display: flex;
  flex-direction: column;
  gap: 12px;
  justify-content: center;
}

.header {
  display: flex;
  flex-direction: column;
  margin: 40px auto 160px;
  padding: 0 15%;
  width: 100%;
  gap: 64px;
}

.cover {
  height: 400px;
  object-fit: cover;
  background-color: #f3f6fc;
  border-radius: var(--border-radius);
}

.backlink {
  display: inline-flex;
  width: max-content;
  gap: 8px;
  margin-bottom: -40px;

  p {
    width: max-content;
  }
}

.backlink:hover .backarrow {
  transform: translateX(-4px);
}

.backarrow {
  transition: all 0.3s ease;
}

.points {
  display: flex;
  width: 100%;
  justify-content: space-between;
  gap: 24px;
}

.point {
  width: 100%;
  padding: 32px;
  background-color: var(--light-grey);
  border-radius: var(--border-radius);
  text-align: center;
}

.pointB {
  width: 100%;
  padding: 32px;
  background-color: var(--primary-white);
  border-radius: var(--border-radius);
  display: flex;
  flex-direction: column;
}

.grid {
  display: grid;
  width: 100%;
  border-radius: var(--border-radius);
  grid-template-columns: repeat(2, 1fr);
  padding: 32px;
  margin-top: 32px;
  background-color: var(--primary-white);
  align-items: center;
  gap: 64px;
}
