.main {
  min-height: calc(100vh - 77.78px);
}

.navWrap {
  padding: 0 80px;
}

.overview {
  display: grid;
  grid-template-columns: 1fr 2fr;
}

.details {
  display: flex;
  flex-direction: column;
  gap: 24px;
}

.detail {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.title {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 24px;
}

.section {
  display: flex;
  flex-direction: column;
  margin: auto;
  padding: 160px 15%;
  width: 100%;
  align-items: flex-start;
  gap: 32px;

  &B {
    @extend .section;
    background-color: var(--light-grey);
  }
}

.header {
  display: flex;
  flex-direction: column;
  margin: 40px auto 160px;
  padding: 0 15%;
  width: 100%;
  gap: 64px;
}

.cover {
  height: 400px;
  object-fit: cover;
  background-color: #f3f6fc;
  border-radius: 32px;
}

.backlink {
  display: inline-flex;
  width: max-content;
  gap: 8px;
  margin-bottom: -40px;

  p {
    width: max-content;
  }
}

.backlink:hover .backarrow {
  transform: translateX(-4px);
}

.backarrow {
  transition: all 0.3s ease;
}
