.main {
  min-height: calc(100vh - 77.78px);
}

.navWrap {
  padding: 0 80px;
}

.flex {
  display: grid;
  grid-template-columns: 480px auto;
  gap: 32px;
}

.backlink {
  display: inline-flex;
  width: max-content;
  gap: 8px;

  p {
    width: max-content;
  }
}

.backlink:hover .backarrow {
  transform: translateX(-4px);
}

.backarrow {
  transition: all 0.3 ease;
}

.projectLinks {
  display: flex;
  gap: 12px;
  flex-direction: column;
  padding: 32px 0;
}

.projectLink {
  font-size: 24px;
  display: flex;
  gap: 4px;
  align-items: center;
}

.projectArrow {
  margin-top: 2px;
  transition: all 0.3s ease;
}

.projectLink:hover .projectArrow {
  transform: translateX(3px) translateY(-3px);
}

.details {
  display: flex;
  flex-direction: column;
  gap: 24px;
}

.detail {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.title {
  display: flex;
  flex-direction: column;
  gap: 24px;
}

.header {
  display: flex;
  flex-direction: column;
  margin: 40px auto 160px;
  padding: 0 15%;
  width: 100%;
  gap: 64px;
}

.projectImg {
  object-fit: cover;
  border-radius: 32px;
  width: 100%;
}

.tag {
  display: flex;
  padding: 6px 12px;
  justify-content: center;
  align-items: center;
  gap: 10px;
  border-radius: 20px;
  border: 1px solid rgba(47, 47, 47, 0.5);
  width: max-content;
  font-size: 14px;
  opacity: 0.7;
}

.tagList {
  display: flex;
  bottom: 32px;
  align-items: center;
  align-content: center;
  gap: 10px;
  align-self: stretch;
  flex-wrap: wrap;
}
