
  .vFlex {
    display: flex;
    flex-direction: column;
    gap: 16px;
    justify-content: center;
    align-items: flex-start;
    height: 100%;
    margin-bottom: 40px;
  }

.header {
  margin: 80px auto 160px;
  width: 75%;
    max-width: 860px;
    display: flex;
    flex-direction: row;
    gap: 32px;
}