.projects {
  display: flex;
  flex-direction: column;
  max-width: 984px;
  margin: calc(var(--global-gap) * 5) auto 160px;
  gap: var(--global-gap);
}

@media only screen and (max-width: 800px) {
  .header {
    padding: 40px var(--global-gap) 0;
  }
  .section {
    padding: 40px var(--global-gap);
  }
  .overview {
    grid-template-columns: 1fr;
    gap: 48px;
  }

  .buttonList {
    margin-top: var(--global-gap);
    gap: var(--global-gap);
    display: flex;
    flex-direction: column;

    button {
      width: 100%;
    }
  }

  .cover {
    height: 280px;
    object-fit: cover;
    background-color: #f3f6fc;
    border-radius: var(--border-radius);
  }

  .details {
    display: flex;
    gap: var(--global-gap);
  }

  .content {
    padding: 40px var(--global-gap) 80px;
    ul {
      flex-direction: column;
    }

    li {
      text-align: left;
      justify-content: left;
    }
  }
  .projectFooter {
    padding: 40px var(--global-gap) 40px;
    margin: auto;
    width: 100%;
  }

  .nextProjects {
    display: flex;
    flex-direction: column;
    width: 100%;
    align-items: flex-start;
    gap: 20px;
  }
}

@media only screen and (min-width: 800px) {
  .header {
    padding: 40px 20% 0;
  }

  .section {
    padding: 40px 20%;
  }

  .overview {
    grid-template-columns: 1fr 2fr;
    gap: 32px;
  }

  .content {
    padding: 40px 20% 80px;
  }

  .buttonList {
    margin-top: var(--global-gap);
    gap: var(--global-gap);
    display: flex;
  }

  .cover {
    height: 420px;
    object-fit: cover;
    background-color: #f3f6fc;
    border-radius: var(--border-radius);
  }

  .details {
    display: flex;
    flex-direction: column;
    gap: var(--global-gap);
  }

  .content {
    padding: 40px 20% 80px;
    ul {
      flex-direction: row;
      li {
        text-align: center;
        justify-content: center;
      }
    }
  }

  .projectFooter {
    padding: 40px 20% 80px;
    display: flex;
    flex-direction: column;
    gap: 24px;
    margin: auto;
    width: 100%;
  }

  .nextProjects {
    display: flex;
    flex-direction: row;
    width: 100%;
    align-items: flex-start;
    gap: 20px;
  }
}

.overview {
  display: grid;
}

.detail {
  display: flex;
  flex-direction: column;
  gap: 10px;
  margin-bottom: 12px;
}

.title {
  display: flex;
  flex-direction: column;
  gap: var(--global-gap);
}

.content {
  display: flex;
  flex-direction: column;
  margin: auto;
  width: 100%;
  align-items: flex-start;
  gap: 20px;

  img {
    margin-top: 24px;
    margin-bottom: 12px;
  }

  h4 {
    font-size: 22px;
    margin-top: 60px;
    margin-bottom: 0;
    border-top: 2px solid var(--light-grey);
    padding-top: 40px;
    width: 100%;
  }
  h5 {
    padding-top: 24px;
  }
  blockquote {
    background-color: var(--highlight);
    font-size: 20px;
    padding: 20px;
    width: 100%;
    color: var(--primary);
    border-left: 2px solid var(--primary);
    margin: 12px 0;
  }
  ul {
    display: flex;
    width: 100%;
    justify-content: space-between;
    align-items: stretch;
    gap: var(--global-gap);
    padding-top: var(--global-gap);
    padding-left: 0;
    li {
      font-size: 20px;
      color: var(--primary);
      list-style: none;
      display: flex;
      align-items: center;
      padding: var(--global-gap) calc(var(--global-gap) * 1.5);
      background-color: var(--highlight);
      width: 100%;
      border-radius: var(--border-radius);
    }
  }

  ol {
    font-size: 20px;
    padding-left: 20px;
    li {
      margin-bottom: 8px;
    }
  }
}

.header {
  display: flex;
  flex-direction: column;
  width: 100%;
  gap: calc(var(--global-gap) * 2);

  .backButton {
    width: fit-content;
    display: flex;
    align-items: center;
    gap: 4px;
    transition: all 300ms ease;
    color: var(--mid-dark-grey);
    img {
      opacity: 0.6;
      transition: all 300ms ease;
    }

    &:hover {
      color: var(--dark-grey);
      img {
        opacity: 0.9;
      }
    }
  }
}

.tag {
  display: flex;
  padding: 8px 16px;
  justify-content: center;
  align-items: center;
  gap: 10px;
  border-radius: 20px;
  width: max-content;
  font-size: 16px;
  background-color: var(--primary-white);
  color: var(--primary);
  border: 1px solid #eec5bf50;

  &Primary {
    @extend .tag;
    background-color: var(--highlight);
    color: var(--primary);
    border: 1px solid var(--highlight);
  }
}

.tagList {
  display: flex;
  bottom: var(--global-gap);
  align-items: center;
  align-content: center;
  gap: 12px;
  align-self: stretch;
  flex-wrap: wrap;
  margin-bottom: 12px;
}

.points {
  display: flex;
  justify-content: space-between;
  gap: var(--global-gap);
}

.point {
  width: 100%;
  padding: var(--global-gap);
  background-color: var(--primary-white);
  border-radius: var(--border-radius);
  text-align: center;

  &B {
    @extend .point;
    background-color: var(--light-grey);
  }

  h5 {
    margin: auto;
  }
}

.vFlex {
  display: flex;
  flex-direction: column;
  gap: 12px;
  justify-content: center;
}

.imageSlider {
  display: flex;
  transition: transform 0.5s ease; /* This provides the sliding animation */
}

.backlink {
  display: inline-flex;
  width: max-content;
  gap: 8px;

  p {
    width: max-content;
  }
}

.backlink:hover .backarrow {
  transform: translateX(-4px);
}

.backarrow {
  transition: all 0.3s ease;
}

.chart {
  display: flex;
  width: 100%;
  gap: var(--global-gap);
  div {
    background-color: var(--light-grey);
    width: 100%;
    padding: 30px;
    border-radius: var(--border-radius);
  }
}

.backToTop {
  display: none; /* Hidden by default */
  position: fixed;
  bottom: 20px;
  right: 20px;
  padding: 16px 24px;
  color: var(--primary);
  background-color: none;
  border: none;
  border-radius: 5px;
  cursor: url("/cursors/pointer.png"), pointer;
  transition: all 0.3s ease;

  &:hover {
    opacity: 0.7;
  }

  img {
    margin-right: 8px;
  }
}

.spinner {
  border: 4px solid #eec5bf50;
  border-left-color: var(--primary);
  border-radius: 50%;
  width: 40px;
  height: 40px;
  animation: spin 1s linear infinite;
}

.spinnerContainer {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 40px;
}

@keyframes spin {
  to {
    transform: rotate(360deg);
  }
}

.nextProject {
  display: flex;
  flex-direction: column;
  gap: 12px;
  justify-content: center;
  padding: 24px;
  border-radius: var(--border-radius);
  border: 1px solid var(--mid-grey);
  transition: all 0.3s ease;
  width: 100%;

  &:hover {
    background-color: var(--highlight);
    border: 1px solid var(--highlight);
  }

  img {
    object-fit: cover;
    border-radius: var(--border-radius);
  }

  h4 {
    font-size: 24px;
    color: var(--primary);
  }

  p {
    font-size: 20px;
    color: var(--mid-dark-grey);
  }
}
