.projects {
  display: flex;
  flex-direction: column;
  max-width: 900px;
  margin: calc(var(--global-gap) * 5) auto 160px;
  gap: var(--global-gap);
}

.projectpage {
  display: flex;
  width: 100%;
  flex-direction: column;
  padding: 60px 0px;
}

.white {
  width: 100vw;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px 20px 80px;
}

.highlight {
  width: 100vw;
  display: flex;
  flex-direction: column;
  padding: 20px 20px 80px;
  background-color: var(--highlight);
  align-items: center;
}

@media only screen and (max-width: 800px) {
  .header {
    width: 100%;
    max-width: 900px;
  }
  .section {
    padding: 40px var(--global-gap);
  }
  .overview {
    grid-template-columns: 1fr;
    gap: 48px;
  }

  .buttonList {
    margin-top: var(--global-gap);
    gap: var(--global-gap);
    display: flex;
    flex-direction: column;

    button {
      width: 100%;
    }
  }

  .cover {
    height: 360px;
    width: 100%;
    border-radius: var(--border-radius);
    padding: var(--global-gap);
    display: flex;
    justify-content: center;
    align-items: center;
    img {
      width: 100%;
      height: 100%;
      object-fit: contain;
    }
  }

  .details {
    display: flex;
    flex-direction: column;
    gap: 24px;
    width: 100%;
  }

  .content {
    width: 100%;
    max-width: 900px;
    ul {
      flex-direction: column;
    }

    li {
      text-align: left;
      justify-content: left;
    }
  }

  .projectFooter {
    max-width: 900px;
    padding-top: 80px;
    width: 100%;
    gap: 24px;
    display: flex;
    flex-direction: column;
  }

  .nextProjects {
    display: flex;
    flex-direction: column;
    width: 100%;
    align-items: flex-start;
    gap: 20px;
  }
}

@media only screen and (min-width: 800px) {
  .header {
    width: 100%;
    max-width: 900px;
  }

  .section {
    padding: 40px 20%;
  }

  .overview {
    grid-template-columns: 1fr 2fr;
    gap: 32px;
  }

  .content {
    width: 100%;
    max-width: 900px;
  }

  .buttonList {
    margin-top: var(--global-gap);
    gap: var(--global-gap);
    display: flex;
  }

  .cover {
    height: 540px;
    width: 100%;
    border-radius: var(--border-radius);
    padding: var(--global-gap);
    display: flex;
    justify-content: center;
    align-items: center;
    img {
      height: 100%;
      width: 100%;
      object-fit: contain;
    }
  }

  .details {
    display: flex;
    gap: var(--global-gap);
    width: 100%;
  }

  .content {
    width: 100%;
    max-width: 900px;

    ul {
      flex-direction: row;
      li {
        text-align: center;
        justify-content: center;
      }
    }
  }

  .projectFooter {
    max-width: 900px;
    display: flex;
    flex-direction: column;
    gap: 24px;
    padding-top: 80px;
    width: 100%;
  }

  .nextProjects {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    width: 100%;
    gap: 20px;
  }
}

.overview {
  display: grid;
}

.detail {
  display: flex;
  flex-direction: column;
  gap: 8px;
  width: 100%;
}

.title {
  display: flex;
  flex-direction: column;
  gap: var(--global-gap);
}

.content,
.intro,
.final,
.reflection {
  display: flex;
  flex-direction: column;
  margin: auto;
  width: 100%;
  align-items: flex-start;
  gap: 12px;
  max-width: 900px;

  img {
    margin-top: 12px;
    margin-bottom: 24px;
  }

  .regularImage {
    width: 100%;
  }

  .gifImage {
    width: 100%;
  }

  .gifImage img {
    border: 1px solid var(--mid-grey);
    overflow: hidden;
    width: 100%;
  }

  h2 {
    margin-top: 4px;
  }

  h4 {
    width: 100%;
    margin-bottom: -8px;
    margin-top: 16px;
    padding-bottom: 0;
  }

  h5 {
    padding-top: 64px;
    padding-bottom: 4px;
  }

  p {
    width: 100%;
    margin-bottom: 8px;
    margin-top: 4px;
  }

  blockquote {
    background-color: var(--highlight);
    font-size: 18px;
    padding: 20px;
    width: 100%;
    color: var(--primary);
    border-left: 2px solid var(--primary);
    margin: 12px 0;
  }

  ul {
    display: flex;
    width: 100%;
    justify-content: space-between;
    align-items: stretch;
    gap: var(--global-gap);
    padding-top: 12px;
    padding-left: 0;
    padding-bottom: 12px;
    text-align: left;

    li {
      list-style: none;
      display: flex;
      flex-direction: column;
      width: 100%;
      font-family: "NewYork";
      font-size: 1.5rem;
      text-align: left;

      li {
        font-family: "Geist";
        font-size: 1.125rem;
        color: var(--dark-grey);
      }
    }
  }

  ol {
    padding-left: 20px;
    font-size: 18px;
    color: var(--dark-grey);
    li {
      margin-bottom: 8px;
    }
  }
}

.finalDesign {
  display: flex;
  gap: 40px;
  width: 100%;
  align-items: center;
  padding: 40px 0;

  img {
    width: 560px !important;
    border: 1px solid var(--mid-grey);
    box-shadow: 0px 2px 8px 0px rgba(153, 153, 153, 0.3);
    border-radius: 3px;
  }

  div {
    display: flex;
    flex-direction: column;
    gap: 12px;
  }
}

.head {
  display: flex;
  flex-direction: column;
  gap: 16px;
  width: 100%;
}

.header {
  display: flex;
  flex-direction: column;
  width: 100%;
  gap: calc(var(--global-gap) * 2);

  h2 {
    margin-bottom: var(--global-gap);
  }

  .backButton {
    width: fit-content;
    display: flex;
    align-items: center;
    gap: 6px;
    transition: all 300ms ease;
    color: var(--mid-dark-grey);
    background-color: var(--highlight);
    padding: 8px 12px;
    border-radius: 24px;
    font-size: 0.875rem;

    img {
      opacity: 0.5;
      transition: all 300ms ease;
    }

    &:hover {
      color: var(--dark-grey);
      img {
        opacity: 0.9;
      }
    }
  }
}

.tag {
  display: flex;
  padding: 6px 12px;
  justify-content: center;
  align-items: center;
  gap: 10px;
  border-radius: 5px;
  width: max-content;
  font-size: 0.875rem;
  line-height: 150%;
  background-color: var(--primary-white);
  color: var(--primary);

  &Primary {
    @extend .tag;
    background-color: var(--highlight);
    color: var(--primary);
  }
}

.tagList {
  display: flex;
  bottom: var(--global-gap);
  align-items: center;
  align-content: center;
  gap: 12px;
  align-self: stretch;
  flex-wrap: wrap;
  padding-top: 12px;
}

.points {
  display: flex;
  justify-content: space-between;
  gap: var(--global-gap);
}

.point {
  width: 100%;
  padding: var(--global-gap);
  background-color: var(--primary-white);
  border-radius: var(--border-radius);
  text-align: center;

  &B {
    @extend .point;
    background-color: var(--light-grey);
  }

  h5 {
    margin: auto;
  }
}

.vFlex {
  display: flex;
  flex-direction: column;
  gap: 12px;
  justify-content: center;
}

.imageSlider {
  display: flex;
  transition: transform 0.5s ease; /* This provides the sliding animation */
}

.backlink {
  display: inline-flex;
  width: max-content;
  gap: 8px;

  p {
    width: max-content;
  }
}

.backlink:hover .backarrow {
  transform: translateX(-4px);
}

.backarrow {
  transition: all 0.3s ease;
}

.chart {
  display: flex;
  width: 100%;
  gap: var(--global-gap);
  div {
    background-color: var(--light-grey);
    width: 100%;
    padding: 30px;
    border-radius: var(--border-radius);
  }
}

.divider {
  width: 100%;
  height: 1px;
  background-color: var(--mid-grey);
  margin-bottom: 80px;
}

.backToTop {
  display: none; /* Hidden by default */
  position: fixed;
  bottom: 20px;
  right: 20px;
  padding: 16px 24px;
  color: var(--primary);
  background-color: none;
  border: none;
  border-radius: 5px;
  cursor: url("/cursors/pointer.png"), pointer;
  transition: all 0.3s ease;

  &:hover {
    opacity: 0.7;
  }

  img {
    margin-right: 8px;
  }
}

.spinner {
  border: 4px solid var(--light-grey);
  border-left-color: var(--primary);
  border-radius: 50%;
  width: 40px;
  height: 40px;
  animation: spin 1s linear infinite;
}

.spinnerContainer {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 40px;
}

@keyframes spin {
  to {
    transform: rotate(360deg);
  }
}

.nextProject {
  display: flex;
  flex-direction: column;
  gap: 4px;
  justify-content: start;
  transition: all 0.3s ease;
  width: 100%;

  img {
    width: 100%;
  }

  &:hover {
    // border: 1px solid var(--highlight);
    opacity: 0.7;
  }

  .nextCover {
    object-fit: cover;
    border-radius: var(--border-radius);
    width: 100%;
    height: 200px;
    margin-bottom: 16px;
    padding: 24px;
    display: flex;
    align-items: center;
    justify-content: center;
  }
}
