@import "tailwindcss";
:root {
  --background: #fafcfd;
  --foreground: #32404f;
  --foreground-light: #32404f95;
  --primary: #3266d0;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-foreground-light: var(--foreground-light);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
  --font-serif: var(--font-crimson-pro);
  --font-tiempos: var(--font-tiempos-text);
  --font-tiempos-italic: var(--font-tiempos-text-italic);
  --color-primary: var(--primary);
}

h1 {
  font-family: var(--font-tiempos-text), serif;
  font-size: 3rem;
  letter-spacing: -0.02em;
  line-height: 1.1;
}

h2 {
  font-family: var(--font-tiempos-text), serif;
  line-height: 1.2;
  font-size: 2rem;
  margin-bottom: 0.25rem;
  letter-spacing: -0.02em;
}

h3 {
  font-family: var(--font-tiempos-text), serif;
  font-size: 1.325rem;
  letter-spacing: -0.02em;
}

h4 {
  font-family: var(--font-geist-mono);
  color: var(--foreground-light);
  text-transform: uppercase;
  font-weight: 500;
  font-size: 1rem;
}

p {
  font-family: var(--font-geist-sans);
  color: var(--foreground-light);
}

a {
  color: var(--foreground) !important;
  text-decoration: none !important;
}

a:hover {
  opacity: 0.5;
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: var(--font-sans, Arial, Helvetica, sans-serif);
}

section {
  display: flex;
  flex-direction: column;
  padding-top: 2rem;
}

@keyframes underline {
  from {
    transform: scaleX(0);
  }
  to {
    transform: scaleX(1);
  }
}

/* Custom cursor styles */
* {
  cursor: none !important;
}

@media (max-width: 768px) {
  * {
    cursor: auto !important;
  }
}
