@import url("https://fonts.googleapis.com/css2?family=Manrope:wght@200;300;400;500;600;700;800&display=swap");

:root {
  --max-width: 1100px;
  --border-radius: 12px;

  --primary-white: #fefdfc;
  --light-grey: #f5f3f2;
  --mid-grey: #e5e4e4;
  --mid-dark-grey: #9a9a9a;
  --dark-grey: #504f4e;
  --primary-dark: #2f2f2f;

  --border-radius: 8px;
  --global-gap: 20px;
}

@media only screen and (max-width: 600px) {
  :root {
    --global-gap: 16px;
  }
  .sm-btn {
    width: 100%;
  }
  a {
    width: 100%;
  }
  .block {
    height: 20vh;
    width: 100%;
  }
}

* {
  box-sizing: border-box;
  margin: 0;
}

html,
body {
  max-width: 100vw;
  font-family: "Manrope", sans-serif;
  overflow-x: hidden;
  position: relative;
}

body {
  color: var(--primary-dark);
  background: var(--primary-white);
}

a {
  color: inherit;
  text-decoration: none;
}

@media only screen and (max-width: 600px) {
  //   h1 {
  //     font-size: 32px !important;
  //   }
  //   h2 {
  //     font-size: 24px !important;
  //   }
  h3 {
    font-size: 20px !important;
    margin-bottom: 16px !important;
  }
  //   h4 {
  //     font-size: 18px !important;
  //   }
  //   p {
  //     font-size: 16px !important;
  //   }
}

h1 {
  font-size: 4rem;
  font-weight: 600;
  line-height: 100%;
}

h2 {
  font-size: 3rem;
  font-weight: 600;
  margin-bottom: 4px;
}

h3 {
  font-size: 1.5rem;
  line-height: 120%;
  font-weight: 600;
  margin-bottom: 8px;
}

h4 {
  font-size: 1.25rem;
  font-weight: 600;
  margin-bottom: 8px;
}

h5 {
  font-size: 1rem;
  font-weight: 600;
  letter-spacing: 3px;
  text-transform: uppercase;
  opacity: 0.7;
  margin-bottom: 0;
}

.button-text {
  font-size: 16px;
  font-weight: 500;
  color: var(--primary-dark);
}

.lg-p {
  font-size: 1.5rem;
  font-weight: 400;
}

p {
  font-size: 1.25rem;
  font-weight: 400;
}

.sm-p {
  font-size: 14px;
  font-weight: 500;
}

button {
  display: inline-flex;
  padding: 16px 30px 16px 32px;
  justify-content: center;
  align-items: center;
  gap: 4px;
  border-radius: var(--border-radius);
  background: var(--primary-dark);
  border: 0;
  font-size: 16px;
  font-weight: 500;
  font-family: inherit;
  transition: all 0.3s ease;
  color: var(--primary-white);

  &:hover {
    opacity: 0.9;
    cursor: pointer;
  }
}

.btnSecondary {
  background: var(--primary-white);
  border: 1px solid #c6c5c5;
  height: 54px;
  color: var(--primary-dark);

  &:hover {
    background: var(--light-grey);
    cursor: pointer;
  }
}

.sm-btn {
  @extend button;
  padding: 12px 24px;
}

.block {
  display: flex;
  position: relative;
  flex-direction: column;
  align-self: stretch;
  overflow: hidden;
  border-radius: var(--border-radius);
  cursor: pointer;
}

.blockLabel {
  display: flex;
  position: absolute;
  bottom: 0;
  padding: var(--global-gap) var(--global-gap);
  margin-top: auto;
  margin-bottom: 0;
  justify-content: space-between;
  align-items: flex-end;
  align-self: stretch;
}

.arrow {
  position: absolute;
  bottom: var(--global-gap);
  right: var(--global-gap);
  transition: transform 0.3s ease;
}

.mockup {
  width: 100%;
  height: 360px;
  display: flex;
  justify-content: center;
  padding: 40px;
  margin-top: -40px;
  margin-bottom: -40px;
}

.fillerBlock {
  display: flex;
  width: 20%;
  height: 100%;
  padding: var(--global-gap) var(--global-gap);
  justify-content: space-between;
  align-items: flex-end;
  align-self: stretch;
  border-radius: var(--border-radius);
  border: 1px solid var(--mid-grey);
}

.image {
  position: absolute;
  transition:
    transform 0.3s ease,
    opacity 0.3s ease;
  top: auto;
  bottom: auto;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  opacity: 0.7;
  transform: scale(1);
}

.block:hover .arrow {
  transform: translateX(6px) translateY(-6px);
}

.block:hover .image {
  opacity: 1;
  transform: scale(1.1);
}
