.main {
  height: 100vh;
}

.body {
  display: grid;
  grid-template-columns: calc(50% - 16px) calc(50% - 16px);
  padding: 16px 80px 32px;
  height: calc(100vh - 100px);
  gap: 32px;
  align-self: stretch;
}

.mainLeft {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100%;
}

.mainRight {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 32px;
  height: 100%;
  width: 100%;
}

.vFlex {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
  gap: 24px;
  &Main {
    @extend .vFlex;
    justify-content: center;
    height: 100%;
    margin-bottom: 24px;
  }
}

.hFlex {
  display: flex;
  justify-content: space-between;
  gap: 32px;
  align-self: stretch;
  width: 100%;
  height: 100%;
}

.subheading {
  max-width: 640px;
}

.mainLink {
  display: flex;
  height: 64px;
  padding: 12px 0px 12px;
  justify-content: space-between;
  align-items: center;
  align-self: stretch;
  border-bottom: 1px solid var(--dark-grey, #504f4e);
}

.iconList {
  display: flex;
  padding: 0px 8px;
  align-items: center;
  gap: 24px;
}

.block {
  display: flex;
  position: relative;
  flex-direction: column;
  align-self: stretch;
  width: 80%;
  height: 1fr;
  overflow: hidden;
  border-radius: var(--border-radius);
  cursor: pointer;
}

.blockLabel {
  display: flex;
  position: absolute;
  bottom: 0;
  padding: 24px 32px;
  margin-top: auto;
  justify-content: space-between;
  align-items: flex-end;
  align-self: stretch;
}

.mainArrow {
  height: 10vh;
  width: 14vh;
  margin-bottom: -2vh;
  margin-right: 1.5vh;
}

.arrow {
  position: absolute;
  bottom: 24px;
  right: 36px;
  transition: transform 0.3s ease;
}

.mockup {
  width: 100%;
  height: 360px;
  display: flex;
  justify-content: center;
  padding: 40px;
  margin-top: -40px;
  margin-bottom: -40px;
}

.fillerBlock {
  display: flex;
  width: 20%;
  height: 100%;
  padding: 24px 32px;
  justify-content: space-between;
  align-items: flex-end;
  align-self: stretch;
  border-radius: var(--border-radius);
  border: 1px solid var(--mid-grey);
}

.image {
  position: absolute;
  transition: transform 0.3s ease, opacity 0.3s ease;
  top: auto;
  bottom: auto;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  opacity: 0.7;
  transform: scale(1);
}

.block:hover .arrow {
  transform: translateX(6px) translateY(-6px);
}

.block:hover .image {
  opacity: 1;
  transform: scale(1.1);
}
