@media only screen and (min-width: 800px) {
  .main {
    height: 100vh;
    align-items: flex-start;
    overflow: hidden;
    display: flex;
  }
  .hFlex {
    display: flex;
    justify-content: space-between;
    gap: var(--global-gap);
    align-self: stretch;
    width: 100%;
    margin-top: 8px;
  }
  .block {
    height: calc(200px + 10vh);
    width: 80%;
  }
  .mainArrow {
    height: 36px;
    width: 88px;
    margin: 0 16px;
  }
  .subheading {
    max-width: 90%;
  }
  .body {
    height: 100%;
    width: 50vw;
    padding: 0 4vw;
    display: flex;
    flex-direction: column;
    position: relative;
  }
  .btnContainer {
    display: flex;
    gap: 16px;
  }
  .gallery {
    width: 50vw;
  }

  .moreList {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: var(--global-gap);
  }

  .footer {
    position: absolute;
    bottom: var(--global-gap);
    justify-content: space-between;
    width: calc(100% - 8vw);
    display: flex;
    align-items: center;
    gap: var(--global-gap);

    p {
      color: var(--mid-dark-grey);
      font-size: 1rem !important;
    }

    span {
      padding: 0 2px;
    }
  }
}

@media only screen and (max-width: 800px) {
  .main {
    height: 100vh;
    align-items: flex-start;
  }
  .hFlex {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: var(--global-gap);
    align-self: stretch;
    width: 100%;
    margin-top: 8px;
  }
  .block {
    height: 20vh;
    width: 100%;
  }
  .mainArrow {
    height: 20px;
    width: 48px;
    margin: 0 8px;
  }
  .subheading {
    max-width: 100%;
  }

  .body {
    height: 100%;
    width: 100%;
    padding: 0 var(--global-gap);
    display: flex;
    flex-direction: column;
  }

  .btnContainer {
    display: flex;
    flex-direction: column;
    gap: 16px;

    a {
      width: 100%;
    }
    button {
      width: 100%;
    }
  }

  .gallery {
    width: 100vw;
  }

  .moreList {
    display: grid;
    grid-template-columns: 1fr;
    gap: var(--global-gap);
  }

  .footer {
    position: absolute;
    bottom: var(--global-gap);
    justify-content: space-between;
    width: calc(100% - 8vw);
    display: flex;
    align-items: center;
    flex-direction: column;
    gap: var(--global-gap);

    p {
      color: var(--mid-dark-grey);
      font-size: 1rem !important;
    }
  }
}

.heroTitle {
  display: flex;
  flex-direction: column;
  gap: calc(var(--global-gap) / 2);
}

.iconList {
  display: flex;
  gap: 12px;

  a {
    height: 20px;
  }
}

.icon {
  opacity: 0.3;
  transition: all 0.3s ease;

  &:hover {
    opacity: 0.7;
    // transform: scale(1.2);
  }
}

.gallery {
  display: flex;
  flex-direction: column;
  background-color: var(--light-grey);
  height: 100vh;
}

.vFlex {
  display: flex;
  flex-direction: column;
  gap: calc(var(--global-gap) * 2);
  justify-content: center;
  height: 100%;
  margin-bottom: 40px;
}

.block {
  display: flex;
  position: relative;
  flex-direction: column;
  align-self: stretch;
  overflow: hidden;
  border-radius: var(--border-radius);
  cursor: url("/cursors/pointer.png"), pointer;
}

.blockLabel {
  display: flex;
  position: absolute;
  bottom: 0;
  padding: var(--global-gap) var(--global-gap);
  margin-top: auto;
  margin-bottom: 0;
  justify-content: space-between;
  align-items: flex-end;
  align-self: stretch;
}

.arrow {
  position: absolute;
  bottom: var(--global-gap);
  right: var(--global-gap);
  transition: transform 0.3s ease;
}

.mockup {
  width: 100%;
  height: 360px;
  display: flex;
  justify-content: center;
  padding: 40px;
  margin-top: -40px;
  margin-bottom: -40px;
}

.fillerBlock {
  display: flex;
  width: 20%;
  height: 100%;
  padding: var(--global-gap) var(--global-gap);
  justify-content: space-between;
  align-items: flex-end;
  align-self: stretch;
  border-radius: var(--border-radius);
  border: 1px solid var(--mid-grey);
}

.image {
  position: absolute;
  transition:
    transform 0.3s ease,
    opacity 0.3s ease;
  top: auto;
  bottom: auto;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  opacity: 0.7;
  transform: scale(1);
}

.block:hover .arrow {
  transform: translateX(6px) translateY(-6px);
}

.block:hover .image {
  opacity: 1;
  transform: scale(1.1);
}

.currently {
  display: flex;
  flex-direction: column;
  gap: calc(var(--global-gap) / 2);
}

.list {
  display: flex;
  flex-direction: column;
  gap: 4px;
  margin-bottom: 12px;
  h5 {
    border-top: 2px solid var(--lig);
    padding-top: 12px;
    margin-bottom: 12px;
  }
  li {
    margin-left: -12px;
    margin-top: 4px;
  }
  span {
    padding-right: 4px;
  }
}

.tabs {
  display: flex;
  padding: 40px 4vw 0;
}

.tab {
  width: 100%;
  display: flex;
  justify-content: center;
  padding: 8px;
  border-bottom: 2px solid var(--mid-grey);
  transition: all 0.3s ease;
  color: var(--mid-dark-grey);

  &:hover {
    color: var(--dark-grey);
    cursor: url("/cursors/pointer.png"), pointer;
  }

  &Current {
    @extend .tab;
    border-bottom: 2px solid var(--dark-grey);
    color: var(--dark-grey);
  }
}

.projectContainer {
  padding: 40px 4vw;
  height: calc(100vh - 40px);
  overflow-y: auto;
}

.projectList {
  flex-direction: column;
  display: flex;
  gap: var(--global-gap);
  height: max-content;
}

.url {
  opacity: 0.5 !important;
  font-weight: 400;
  transition: all 0.3s ease;
  cursor: url("/cursors/pointer.png"), pointer;
  align-items: center;

  &:hover {
    opacity: 1 !important;
  }

  img {
    margin-bottom: -3.5px;
    margin-left: 2px;
  }
}
