@media only screen and (max-width: 600px) {
  .info {
    height: auto !important;
  }
}

.card {
  border-radius: var(--border-radius);
  overflow: hidden;
  cursor: pointer;
  display: flex;
  height: 200px;
  transition: all 0.3s ease;

  &Disabled {
    @extend .card;
    opacity: 0.8;
    cursor: auto;
  }
}

.imageBlock {
  max-width: 240px;
  width: 50%;
  min-width: 120px;
  display: flex;
  overflow: hidden;
  justify-self: center;
}

.image {
  transition: all 0.3s ease;
  min-width: 100%;
  height: 200px;
  object-fit: cover;

  &Disabled {
    opacity: 0.8;
    width: 100%;
    object-fit: cover;
  }
}

.info {
  display: flex;
  flex-direction: column;
  padding: var(--global-gap);
  position: relative;
  justify-content: space-between;
  max-height: 100%;
  width: 100%;
  align-self: stretch;
  border-radius: 0 var(--border-radius) var(--border-radius) 0;
}

.infoMain {
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.tag {
  display: flex;
  padding: 6px 12px;
  justify-content: center;
  align-items: center;
  gap: 10px;
  border-radius: 20px;
  border: 1px solid rgba(47, 47, 47, 0.5);
  width: max-content;
  font-size: 14px;
  opacity: 0.7;
}

.tagList {
  display: flex;
  width: calc(100% - 36px);
  bottom: var(--global-gap);
  align-items: center;
  align-content: center;
  gap: 10px;
  align-self: stretch;
  flex-wrap: wrap;
}

.arrow {
  position: absolute;
  opacity: 0;
  bottom: var(--global-gap);
  right: var(--global-gap);
  transition: all 0.3s ease;
}

.card:hover {
  opacity: 0.7;
}
