@media only screen and (max-width: 800px) {
  .info {
    height: fit-content !important;
    min-height: 240px;
  }

  .imageBlock {
    height: 300px !important;
    min-height: 240px !important;
  }

  .card {
    height: fit-content !important;
    flex-direction: column;
  }

  .link {
    left: var(--global-gap) !important;
  }
}

.card {
  border-radius: var(--border-radius);
  overflow: hidden;
  cursor: url("/cursors/pointer.png"), pointer;
  display: flex;
  flex-direction: column;
  transition: all 0.2s ease;
  align-items: stretch;
  box-sizing: border-box;
  height: fit-content;
  min-height: 400px;
  position: relative;

  &:hover {
    transition: all 0.2s ease;
    box-shadow: 0 0 0 1px var(--border-colour);
  }
  &:hover .link {
    transition: all 0.3s ease;
    opacity: 1;
  }

  &Disabled {
    border-radius: var(--border-radius);
    overflow: hidden;
    display: flex;
    transition: all 0.3s ease;
    height: max-content;
    align-items: stretch;
    border-color: var(--mid-grey);

    opacity: 0.6;
    cursor: auto;
  }
}

.imageBlock {
  width: 100%;
  min-height: 420px;
  display: flex;
  overflow: hidden;
  align-items: center;
  justify-content: center;
  position: relative;
  padding-top: 24px;
}

.image {
  transition: all 0.3s ease;
  max-width: 640px;
  max-height: 420px;
  width: 100%;
  object-fit: contain;
}

.comingSoon {
  position: absolute;
  left: 0;
  height: 100%;
  background-color: var(--dark-grey);
  color: var(--primary-white);
  display: flex;
  align-items: center;
  padding: 12px;
  img {
    width: 10px;
  }
}

.info {
  display: flex;
  flex-direction: column;
  padding: var(--global-gap);
  position: relative;
  justify-content: space-between;
  height: fit-content;
  width: 100%;
  align-self: stretch;
  gap: 12px;

  h5 {
    color: var(--border-colour);
    font-size: 14px;
  }
  h3 {
    font-size: 24px;
    margin-bottom: 8px !important;
  }
}

.infoMain {
  display: flex;
  flex-direction: column;
  gap: 12px;
  width: max-content;
  max-width: 100%;
  height: fit-content;
}

.tag {
  display: flex;
  padding: 5px 10px;
  justify-content: center;
  align-items: center;
  gap: 10px;
  border-radius: 5px;
  width: max-content;
  font-size: 13px;
  opacity: 0.7;
  background-color: var(--primary-white);
  color: var(--mid-dark-grey);

  &Primary {
    @extend .tag;
    background-color: var(--dark-grey);
    color: var(--primary-white);
    border: none;
    opacity: 1;
  }
}

.tagList {
  display: flex;
  width: calc(100% - 36px);
  bottom: var(--global-gap);
  align-items: center;
  align-content: center;
  gap: 10px;
  align-self: stretch;
  flex-wrap: wrap;
}

.link {
  position: absolute;
  display: flex;
  padding-top: 16px;
  bottom: var(--global-gap);
  right: var(--global-gap);
  align-items: center;
  gap: 4px;
  opacity: 0.5;
  transition: all 0.3s ease;

  p {
    color: var(--dark-grey);
    font-weight: 500;
    font-size: 1rem;
    transition: all 0.3s ease;
  }

  img {
    transition: all 0.3s ease;
    margin-bottom: -1px;
  }
}

.arrow {
  position: absolute;
  opacity: 0;
  bottom: var(--global-gap);
  right: var(--global-gap);
  transition: all 0.3s ease;
}

.skeleton {
  background-color: #e0e0e0;
  border-radius: 4px;
  animation: pulse 1.5s infinite ease-in-out;
}

.skeletonImage {
  width: 100%;
  height: 200px;
}

.skeletonText {
  height: 20px;
  margin: 10px 0;
}

@keyframes pulse {
  0% {
    opacity: 1;
  }
  50% {
    opacity: 0.4;
  }
  100% {
    opacity: 1;
  }
}
