.card {
    border-radius: 32px;
    overflow: hidden;
    cursor: pointer;
}

.imageBlock {
    display: flex;
    height: 320px;
    overflow: hidden;
    justify-self: center;
}

.image {
    transition: all 0.3s ease;
    opacity: 0.8;
}

.info {
    display: flex;
    flex-direction: column;
    padding: 32px;
    gap: 32px;
    position: relative;
    justify-content: space-between;
}

.infoMain {
    display: flex;
    flex-direction: column;
    gap: 16px;
}

.tag {
    display: flex;
    padding: 6px 12px;
    justify-content: center;
    align-items: center;
    gap: 10px;
    border-radius: 20px;
    border: 1px solid rgba(47, 47, 47, 0.50);
    width: max-content;
    font-size: 14px;
    opacity: 0.7;
  }

  .tagList {
    display: flex;
    bottom: 32px;
    align-items: center;
    align-content: center;
    gap: 10px;
    align-self: stretch;
    flex-wrap: wrap;
  }

  .arrow {
    position: absolute;
    bottom: 28px;
    right: 36px;
    transition: transform 0.3s ease;
  }

  .card:hover .arrow {
    transform: translateX(6px) translateY(-6px);
  }

.card:hover .image {
  transform: scale(1.1);
  opacity: 1;
}
