@media only screen and (max-width: 600px) {
  .hFlex {
    flex-direction: column;
  }
  .block {
    width: 100%;
  }
  .image {
    height: 100%;
    width: 100%;
    object-fit: cover;
  }
  .imageBlock {
    height: 240px;
    width: 100%;
  }
}

@media only screen and (min-width: 600px) {
  .block {
    height: 340px;
    width: 65%;
  }
  .imageBlock {
    height: 340px;
    width: 35%;
  }
}

.hFlex {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  align-self: stretch;
  border-radius: var(--border-radius);
  overflow: hidden;
}

.block {
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  align-self: stretch;
  padding: var(--global-gap);
  gap: var(--global-gap);
  position: relative;
  transition: 0.3s;
  cursor: pointer;

  &Alt {
    @extend .block;
  }
}

.tag {
  display: flex;
  padding: 6px 12px;
  justify-content: center;
  align-items: center;
  gap: 10px;
  border-radius: 20px;
  background-color: var(--light-grey);
  width: max-content;
  font-size: 14px;
  opacity: 0.7;
}

.tagList {
  display: flex;
  // position: absolute;
  bottom: var(--global-gap);
  align-items: center;
  align-content: center;
  gap: 10px;
  align-self: stretch;
  flex-wrap: wrap;
}

.blockInfo {
  display: flex;
  flex-direction: column;
  max-width: 75%;
  gap: var(--global-gap);
}

.arrow {
  position: absolute;
  bottom: var(--global-gap);
  right: var(--global-gap);
  transition: transform 0.3s ease;
}

.imageBlock {
  overflow: hidden;
  cursor: pointer;

  &Alt {
    @extend .imageBlock;
  }
}

.image {
  transition:
    transform 0.3s ease,
    opacity 0.3s ease;
  height: 100%;
  opacity: 0.7;
}

.hFlex:hover .arrow {
  transform: translateX(6px) translateY(-6px);
}

.hFlex:hover .image {
  transform: scale(1.2);
  opacity: 1;
}
