@media only screen and (max-width: 600px) {
  .projects {
    width: 100%;
    padding: var(--global-gap);
  }
}

@media only screen and (min-width: 600px) {
  .projects {
    width: 75%;
  }
}

.projects {
  display: flex;
  flex-direction: column;
  max-width: 984px;
  margin: calc(var(--global-gap) * 5) auto 160px;
  gap: var(--global-gap);
}

.header {
  max-width: 860px;
  display: flex;
  flex-direction: column;
  gap: var(--global-gap);
  margin-bottom: var(--global-gap);
}
