.main {
  min-height: calc(100vh - 77.78px);
}

.navWrap {
  padding: 0 80px;
}

.overview {
  display: grid;
  grid-template-columns: 1fr 2fr;
}

.details {
  display: flex;
  flex-direction: column;
  gap: 24px;
}

.detail {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.title {
  display: flex;
  flex-direction: column;
  gap: 24px;
}

.section {
  display: flex;
  flex-direction: column;
  margin: auto;
  padding: 160px 15%;
  width: 100%;
  align-items: flex-start;
  gap: 32px;

  &B {
    @extend .section;
    background-color: var(--light-grey);
  }
}

.converge {
  display: flex;
  margin: auto;
  align-items: center;
  justify-content: space-between;
  margin-top: 48px;
  width: 100%;
  h5 {
    padding: 24px 48px;
    background-color: var(--light-grey);
    border-radius: 32px;
  }
  .line {
    height: 2px;
    background-color: var(--light-grey);
    width: 100%;
  }
}

.header {
  display: flex;
  flex-direction: column;
  margin: 40px auto 160px;
  padding: 0 15%;
  width: 100%;
  gap: 64px;

  img {
    height: 400px;
    object-fit: cover;
    background-color: #f3f6fc;
    border-radius: 32px;
  }
}
