@media only screen and (max-width: 600px) {
  .header {
    padding: 0 16px !important;
  }
  .section {
    padding: calc(var(--global-gap) * 4) 16px !important;
  }
  .overview {
    grid-template-columns: 1fr !important;
  }
}

.main {
  min-height: calc(100vh - 77.78px);
}

.navWrap {
  padding: 0 80px;
}

.overview {
  display: grid;
  grid-template-columns: 1fr 2fr;
  gap: 32px;
}

.details {
  display: flex;
  flex-direction: column;
  gap: var(--global-gap);
}

.detail {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.title {
  display: flex;
  flex-direction: column;
  gap: var(--global-gap);
}

.section {
  display: flex;
  flex-direction: column;
  margin: auto;
  padding: 160px 15%;
  width: 100%;
  align-items: flex-start;
  gap: 32px;

  &B {
    @extend .section;
    background-color: var(--light-grey);

    &grid {
      @extend .sectionB;
      display: grid;
      grid-template-columns: 1fr 2fr;

      img {
        width: 100%;
        height: 100%;
        object-fit: cover;
        border-radius: var(--border-radius);
      }
    }
  }
}

.converge {
  display: flex;
  margin: auto;
  align-items: center;
  justify-content: space-between;
  margin-top: 48px;
  width: 100%;
  h5 {
    padding: var(--global-gap) 48px;
    background-color: var(--light-grey);
    border-radius: var(--border-radius);
  }
  .line {
    height: 2px;
    background-color: var(--light-grey);
    width: 100%;
  }
}

.header {
  display: flex;
  flex-direction: column;
  margin: calc(var(--global-gap) * 5) auto 160px;
  padding: 0 15%;
  width: 100%;
  gap: calc(var(--global-gap) * 2);
}

.cover {
  height: 400px;
  object-fit: cover;
  background-color: #f3f6fc;
  border-radius: var(--border-radius);
}

.points {
  display: flex;
  justify-content: space-between;
  gap: var(--global-gap);
}

.point {
  width: 100%;
  padding: var(--global-gap);
  background-color: var(--primary-white);
  border-radius: var(--border-radius);
  text-align: center;

  &B {
    @extend .point;
    background-color: var(--light-grey);
  }

  h5 {
    margin: auto;
  }
}

.vFlex {
  display: flex;
  flex-direction: column;
  gap: 12px;
  justify-content: center;
}

.carousel {
  display: grid;
  grid-template-columns: 80px auto 80px;
  align-items: center;
  overflow: hidden;

  img {
    width: 70%;
    margin: auto 15%;
    flex-shrink: 0;
  }
  p {
    padding: 10px;
    background-color: var(--mid-grey);
    text-align: center;
    margin: auto;
    border-radius: 50%;
    width: 48px;
    height: 48px;
    transition: all 0.3s ease;
    z-index: 100;

    &:hover {
      cursor: pointer;
      opacity: 0.75;
    }

    &.disabled {
      cursor: default;
      opacity: 0.25;
    }
  }
}

.imageSlider {
  display: flex;
  transition: transform 0.5s ease; /* This provides the sliding animation */
}

.eurekaGrid {
  display: flex;
  width: 100%;
  gap: 32px;
  height: fit-content;
  img {
    width: 50%;
    border-radius: var(--border-radius);
    object-fit: contain;
  }
}

.backlink {
  display: inline-flex;
  width: max-content;
  gap: 8px;

  p {
    width: max-content;
  }
}

.backlink:hover .backarrow {
  transform: translateX(-4px);
}

.backarrow {
  transition: all 0.3s ease;
}

.chart {
  display: flex;
  width: 100%;
  gap: var(--global-gap);
  div {
    background-color: var(--light-grey);
    width: 100%;
    padding: 30px;
    border-radius: var(--border-radius);

    // ul {
    //   padding-left: 16px;
    //   margin-top: 16px;
    //   font-size: 20px;
    // }
  }
}
