@media only screen and (max-width: 600px) {
  .header {
    padding: 0 16px !important;
  }
  .section {
    padding: calc(var(--global-gap) * 4) 16px !important;
  }
  .overview {
    grid-template-columns: 1fr !important;
  }
}

.main {
  min-height: calc(100vh - 77.78px);
}

.navWrap {
  padding: 0 80px;
}

.overview {
  display: grid;
  grid-template-columns: 1fr 2fr;
}

.details {
  display: flex;
  flex-direction: column;
  gap: var(--global-gap);
}

.detail {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.title {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: var(--global-gap);
}

.section {
  display: flex;
  flex-direction: column;
  margin: auto;
  padding: 160px 15%;
  width: 100%;
  align-items: flex-start;
  gap: 32px;

  &B {
    @extend .section;
    background-color: var(--light-grey);

    &grid {
      @extend .sectionB;
      display: grid;
      grid-template-columns: 1fr 1fr;
      align-items: center;
    }
  }

  &Grid {
    @extend .section;
    display: grid;
    grid-template-columns: 0.5fr 1fr;
    align-items: center;
    gap: 64px;
  }

  ol {
    font-size: 20px;
    margin-left: 20px;
  }
}

.header {
  display: flex;
  flex-direction: column;
  margin: calc(var(--global-gap) * 5) auto 160px;
  padding: 0 15%;
  width: 100%;
  gap: calc(var(--global-gap) * 2);
}

.cover {
  height: 400px;
  object-fit: cover;
  background-color: #f3f6fc;
  border-radius: var(--border-radius);
}

.backlink {
  display: inline-flex;
  width: max-content;
  gap: 8px;

  p {
    width: max-content;
  }
}

.backlink:hover .backarrow {
  transform: translateX(-4px);
}

.backarrow {
  transition: all 0.3s ease;
}

.points {
  display: flex;
  width: 100%;
  justify-content: space-between;
  gap: var(--global-gap);
}

.point {
  width: 100%;
  padding: 32px;
  background-color: var(--primary-white);
  border-radius: var(--border-radius);
  text-align: center;
}

.vFlex {
  display: flex;
  flex-direction: column;
  gap: 12px;
  justify-content: center;
}

.grid {
  display: grid;
  width: 100%;
  border-radius: var(--border-radius);
  grid-template-columns: repeat(2, 1fr);
  background-color: var(--primary-white);
  gap: 64px;
}
